
article {
  text-align: center;
  height: 30%;
  width: 33%;
  float: left;
}
section h1 {
  text-align: center;
  font-size: 60px;
  color: #008080;
}
h2 {
  text-align: center;
  color: #ff6666;
  font-size: 25px;
}
h3 {
  color: #ff4d4d;
}
