section {
  margin-left: 50px;
  border: solid black 1px;
  width: 30%;
  background-color: #ffcccc;
  text-align: center;
  padding: 0px;
  margin-bottom: 40px;
}

.heading {
  text-align: center;
  font-size: 50px;
  color: #008080;
}
h2 {
  color: #ff6666;
  font-size: 40px;

}
p {
  color: #006600;
}
